<form name="myform" method="post" action="http://talmerleadgen.herokuapp.com/leads">
	Email: <input type="text" name="lead[email]" value="test@test.com"><br>
	First name: <input type="text" name="lead[firstname]" value="DJ"><br>
	Last name: <input type="text" name="lead[lastname]" value="Martin"><br>
	Phone: <input type="text" name="lead[phone]" value="555-1212"><br>
	Address: <input type="text" name="lead[address]" value="123 Sesamee Street"><br>
	Zip: <input type="text" name="lead[zip]" value="90210"><br>
	<input type="submit" value="Submit">
</form> 
