<form name="myform" method="post" action="/leads">
	Email: <input type="text" name="lead[email]" value="test@test.com"><br>
	First name: <input type="text" name="lead[firstname]" value="DJ"><br>
	Last name: <input type="text" name="lead[lastname]" value="Martin"><br>
	Phone: <input type="text" name="lead[phone]" value="555-1212"><br>
	Address: <input type="text" name="lead[address]" value="123 Sesamee Street"><br>
	City: <input type="text" name="lead[city]" value="Beverly Hills"><br>
	State: <input type="text" name="lead[state]" value="CA"><br>
	Zip: <input type="text" name="lead[zip]" value="90210"><br>
	<input type="radio" name="lead[answers][Finance]" value="New Home Loan">New Home Lone<br>
	<input type="radio" name="lead[answers][Finance]" value="Refinance">Refinance<br>
	<input type="checkbox" name="lead[answers][Response]" value="CallMe">Call Me<br>
	<input type="submit" value="Submit">
</form> 
